@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    position: relative;
    overflow: hidden;
    background-color: black;
}

.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    overflow: hidden;
    z-index: -1;
    transform: translate(-50%, -50%) scale(1.1);
    filter: blur(17px);
}

.background-video video {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: relative;
    flex-direction: column;
    transition: transform 1s ease-in-out;
}

.rectangle {
    width: 320px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    background-color: #02000a;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    border-color: #140027;
    border-width: 5px;
    border-style: solid;
    z-index: 1;
    margin: 10px;
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 1000px;
    margin: 0;
    display: flex;
}

.social-links-rectangle {
    display: flex;
    gap: -10px;
}

.nickname {
    font-family: "Roboto", sans-serif;
    color: white;
    margin: 0;
    margin-bottom: -10px;
}

.discord-content{
    margin: 0;
    margin-top: -9%;
    display: flex;
    gap: 10px;
    width: 100px;
    filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.586));

}

.discord {
    color: white;
}

.discord_icon{
    width: 20px;
    height: auto;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 20px;
}


.content {
    position: relative;
    z-index: 1;
}

@keyframes circle-animation {
    0% {
        top: 0;
        left: 0;
        transform: scale(0);
        filter: blur(15px);
    }

    50% {
        top: 50%;
        left: 50%;
        transform: scale(1);
        filter: blur(15px);
    }

    100% {
        top: 100%;
        left: 100%;
        transform: scale(0);
        filter: blur(15px);
    }
}

.nickname {
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
    filter: drop-shadow(2px 2px 0.6rem rgba(255, 255, 255, 0.466));
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links a {
    margin: 0 7px;
}

.social-links img {
    width: 32px;
    height: 32px;
    transition: filter 0.2s ease-in-out;
    border-radius: 1000px;
}

.social-links img:hover {
    filter: blur(2px);
}

.button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.arrow {
    display: inline-block;
    padding: 3px;
    transition: transform 0.9s;
}

.rotate {
    transform: rotate(180deg);
}

.hide {
    display: none;
}

.rectangle-right {
    width: 400px;
    height: 520px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    background-color: #02000a;
    overflow: hidden;
    position: absolute;
    border-radius: 20px;
    z-index: 0;
    margin: 10px;
    left: calc(50% + 161px);
    opacity: 0;
    margin-top: 20px;
    transform: translateX(-100%);
    transition: opacity 0.7s ease-in-out, transform 1s ease-in-out;
    border-radius: 20px;
    border-color: #140027;
    border-width: 5px;
    border-style: solid;
}

.rectangle-right.show {
    opacity: 1;
    transform: translateX(0);

}

.move-left {
    transform: translateX(-150px);
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.rectangle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #242424;
    border-radius: 20px;
    margin-left: -20px;
    transform: translateX(0);
    transition: transform 1s ease-in-out;
    position: relative;
    right: -50px;
}

.left-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: -29px;
}

.rectangle-button img {
    width: 32px;
    height: 32px;
}

.move-right {
    transform: translateX(415px);
}

.hithere {
    color: white;
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 10px;
    margin: 0;
    padding: 25px;
}

.nometa {
    color: white;
    font-size: 16px;
    position: absolute;
    top: 50px;
    left: 10px;
    margin: 0;
    padding: 25px;
}

.email {
    color: white;
    font-size: 16px;
    position: absolute;
    top: 85px;
    left: 10px;
    margin: 0;
    padding: 25px;
}

.email2 {
    color: white;
    font-size: 16px;
    text-decoration: none;
}

.ayanami {
    width: 340px;
    height: auto;
    position: relative;
    top: 70px;
    left: 0px;
    margin: 0;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.36));
}
















@media screen and (max-width: 990px) {

    body {
        overflow-x: scroll;
    }

    ::-webkit-scrollbar {
        width: 1px;
        height: 12px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 10px rgb(0, 0, 0);

    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: linear-gradient(90deg, #527cee, #3c4de7, #4923d5, #7623d5);
        filter: blur(40px);
        border-radius: 10px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: linear-gradient(90deg, #6c93ff, #6978ff, #734ff3, #9b47fa);
        filter: blur(40px);
        border-radius: 10px;
    }


    .avatar {
        width: 170px;
        height: 170px;
    }

    .rectangle-right {
        width: 360px;
        height: 400px;
        margin-top: auto;
        margin-bottom: auto;
    }

    .ayanami {
        width: 230px;
        height: auto;
        border-radius: 20px;
    }

    .spotifynow {
        display: none;
    }

    .spotifyplayer {
        display: none;
    }

    .rectangle {
        width: 320px;
        height: 400px;
    }

    .rectangle-button {}

    .move-left {
        transform: translateX(-190px);
    }

    .move-right {
        transform: translateX(380px);
    }

    .background-video {
        position: absolute;
        top: 50%;
        left: 50%;
        width: auto;
        height: auto;
        overflow: hidden;
        z-index: -1;
        transform: translate(-50%, -50%) scale(1.1);
        filter: blur(17px);
    }

    .background-video video {
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
    }
}

@media screen and (min-width: 3800px) {


    body {
        overflow-x: scroll;
    }

    ::-webkit-scrollbar {
        width: 1px;
        height: 12px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 10px rgb(0, 0, 0);

    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: linear-gradient(90deg, #527cee, #3c4de7, #4923d5, #7623d5);
        filter: blur(40px);
        border-radius: 10px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: linear-gradient(90deg, #6c93ff, #6978ff, #734ff3, #9b47fa);
        filter: blur(40px);
        border-radius: 10px;
    }


    .avatar {
        width: 170px;
        height: 170px;
    }

    .rectangle-right {
        width: 360px;
        height: 400px;
        margin-top: auto;
        margin-bottom: auto;
    }

    .ayanami {
        width: 230px;
        height: auto;
        border-radius: 20px;
    }

    .spotifynow {
        display: none;
    }

    .spotifyplayer {
        display: none;
    }

    .rectangle {
        width: 320px;
        height: 400px;
    }

    .rectangle-button {}

    .move-left {
        transform: translateX(-190px);
    }

    .move-right {
        transform: translateX(380px);
    }

    .background-video {
        position: absolute;
        top: 50%;
        left: 50%;
        width: auto;
        height: auto;
        overflow: hidden;
        z-index: -1;
        transform: translate(-50%, -50%) scale(1.1);
        filter: blur(17px);
    }

    .background-video video {
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
    }

}